<% if Guitar.all.empty? %>
	<h2>Sorry no Guitars listed yet</h2>
<% else %>
	<% @users.each do |user| %>
	<% unless user.guitars.empty? %>
			<h2><%=user.username%>'s Guitars</h2>
			<% user.guitars.each do |guitar| %>
					<p><strong><a href="/guitars/<%=guitar.id%>"><%=guitar.make%></a></strong></p>
					<p>Model: <%=guitar.model%></p>
					<p>Year: <%=guitar.year%></p>
			<% end %>
		<% end %>
	<% end %>
<% end %>	