<h2><%= @user.username %>'s Page</h2>

<% if @user.guitars.empty? && @user.amps.empty? && @user.pedals.empty? %>
	<h3><%= @user.username %> hasn't listed any items yet :(</h3>
<% else %>
	<% if @user.guitars.any? %>
		<h3> Guitars: </h3>
		<% @user.guitars.each do |guitar| %>
			<p><a href="/guitars/<%=guitar.id%>"><%=guitar.make%> - <%=guitar.model%></a></p>
		<% end %>
	<% end %>

	<% if @user.amps.any? %>
		<h3> Amps: </h3>
		<% @user.amps.each do |amp| %>
			<p><a href="/amps/<%=amp.id%>"><%=amp.make%> - <%=amp.model%></a></p>
		<% end %>
	<% end %>

	<% if @user.pedals.any? %>
		<h3> Pedals: </h3>
		<% @user.pedals.each do |pedal| %>
			<p><a href="/pedals/<%=pedal.id%>"><%=pedal.make%> - <%=pedal.model%></a></p>
		<% end %>
	<% end %>
<% end %>