<h1>Welcome, <%=current_user.username%></h1>

<% unless current_user.guitars.empty? %>
	<h2> Guitars: </h2>
	<% current_user.guitars.each do |guitar| %>
		<li><a href="/guitars/<%=guitar.id%>"><%=guitar.make%> - <%=guitar.model%></li>
	<% end %>
<% end %>

<% unless current_user.amps.empty? %>
	<h2> Amps: </h2>
	<% current_user.amps.each do |amp| %>
		<li><a href="/amps/<%=amp.id%>"><%=amp.make%> - <%=amp.model%></li>
	<% end %>
<% end %>

<% unless current_user.pedals.empty? %>
	<h2> Pedals: </h2>
	<% current_user.pedals.each do |pedal| %>
		<li><a href="/pedals/<%=pedal.id%>"><%=pedal.make%> - <%=pedal.model%></li>
	<% end %>
<% end %>

