<% if Pedal.all.empty? %>
	<h2>Sorry no pedals listed yet</h2>
<% else %>
	<% @users.each do |user| %>
		<% unless user.pedals.empty? %>
			<h2><%=user.username%>'s Pedals</h2>
			<% user.pedals.each do |pedal| %>
					<p><strong><a href="/pedals/<%=pedal.id%>"><%=pedal.make%></a></strong></p>
					<p>Model: <%=pedal.model%></p>
					<p>Year: <%=pedal.year%></p>
			<% end %>
		<% end %>
	<% end %>
<% end %>
