<% if Pedal.all.empty? %>
	<h2>Sorry no pedals listed yet</h2>
<% else %>
	<% @users.each do |user| %>
		<% unless user.pedals.empty? %>
			<h2><%=user.username%>'s Pedals</h2>
			<% user.pedals.each do |pedal| %>
				<ul>
					<li><strong><a href="/pedals/<%=pedal.id%>"><%=pedal.make%></a></strong></li>
					<li>Model: <%=pedal.model%></li>
					<li>Year: <%=pedal.year%></li>
				</ul>
			<% end %>
		<% end %>
	<% end %>
<% end %>
