<h2><strong><%=@pedal.make%></a></strong></h2>
	<p>Model: <%=@pedal.model%></p>
	<p>Year: <%=@pedal.year%></p>


<% if current_user.id == @pedal.user_id %>
	<p><a href="/pedals/<%=@pedal.id%>/edit">edit</a></p>

	<form method='post' action='/pedals/<%=@pedal.id%>/delete'>
		<input id='hidden' type='hidden' name='_method' value='delete'>
		<p><input type='submit' value='delete'></p>
	</form>
<% end %>