<h2><strong><%=@amp.make%></a></strong></h2>
	<p>Model: <%=@amp.model%></p>
	<p>Year: <%=@amp.year%></p>



<% if current_user.id == @amp.user_id %>
	<p><a href="/amps/<%=@amp.id%>/edit">edit</a></p>

	<form method='post' action='/amps/<%=@amp.id%>/delete'>
		<input id='hidden' type='hidden' name='_method' value='delete'>
		<p><input type='submit' value='delete'></p>
	</form>
<% end %>